<h1>Misaligned achievements</h1>

<form [formGroup]="misalignedAchievementsForm">
  <div class="form-group">
    <label>Xbox Live Gamertag</label>
    <input type="text" class="form-control" formControlName="xboxLiveGamerTagForm">
  </div>
  <div class="form-group">
    <label>Steam ID 64</label>
    <input type="text" class="form-control" formControlName="steamId64Form">
  </div>
</form>

<div *ngIf="misalignedAchievements$ | async as misalignedAchievements; else loading">
  <p *ngFor="let m of misalignedAchievements">{{ m.name }}</p>
</div>

<ng-template #loading>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
